<p id="notice"><%= notice %></p>

<p>
  <b>Login name:</b>
  <%= @user.login_name %>
</p>

<p>
  <b>Login pass:</b>
  <%= @user.login_pass %>
</p>

<p>
  <b>Login role:</b>
  <%= @user.login_role %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
