<p id="notice"><%= notice %></p>

<p>
  <b>Album name:</b>
  <%= @album.album_name %>
</p>

<p>
  <b>Album description:</b>
  <%= @album.album_description %>
</p>

<p>
  <b>User:</b>
  <%= @album.user %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
