<!DOCTYPE html>
<html>
  <head>
    <title>ED ALBUM</title>
     <%= javascript_include_tag "application" %>
     <%= javascript_include_tag "prototype" %>
     <%= javascript_include_tag "rails" %>
     <%= javascript_include_tag "login_page" %>
     <%= stylesheet_link_tag "scaffold" %>
     <%= stylesheet_link_tag "home" %>
     <%= csrf_meta_tags %>

   </head>
   <div class="header">
    <body>
      <center>
        <h1>
          <br>ED ALBUM MANAGEMENT<br><br>
        </h1>
      </center>
      <h6 class="main_link"><br>
         <a href="/home/home_page.html">Home</a>
         <a href="/home/login.html">Login</a><br><br>
      </h6>
    </div>
    <div class="middile">
         <%= yield %>
    </div>
    <div class="footer">
      <h6 class="extra_link"><br>
         <a href="/home/home_page.html">About_Us</a>
         <a href="/home/home_page.html">Contact</a>
         <a href="/home/home_page.html">News</a><br><br>
      </h6> 

   </body>
  </div>
 </html>
